
@{
    DataManager dataManager = ViewBag.DataManager;
    var orders = dataManager.Orders.GetOrders().OrderBy(x => x.OrderNumber);
}


<!DOCTYPE html>
<html lang="ru">
@await Html.PartialAsync("MetasPartial")
<body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2><b>Управление Заказами</b></h2>
                        </div>
                        <form class="col-sm-6" asp-controller="Home" asp-action="NewOrder" method="get">
                            <button  type="submit" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Добавить новый заказ</span></button>
                        </form>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Город отправителя</th>
                            <th>Адрес отправителя</th>
                            <th>Город получателя</th>
                            <th>Адрес получателя</th>
                            <th>Вес груза(кг)</th>
                            <th>Дата забора груза</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in orders)
                        {
                            <tr>
                                <td>@order.OrderNumber</td>
                                <td>@order.SenderCity</td>
                                <td>@order.SenderAddress</td>
                                <td>@order.RecipientCity</td>
                                <td>@order.RecipientAddress</td>
                                <td>@order.CargoWeight</td>
                                <td>@order.PickUpDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
